@model OdeToFood.Models.RestaurantReview

@*@:Review*@ @** tells razor it's literal text *@
<div class="review">
    <h4>@Model.Name</h4>
    <span>Rating: @Model.Rating</span>
    <p>@Model.City, @Model.Country</p>

    <span class="right">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @*
            The third parameter here pass "some information so
            the Edit action knows which review I'm trying to edit.
            The id property is wrapped up on an annonymous object"
            and will be sent through the url then "will automatically
            be extracted by the runtime and passed in to our action".

            My note: I'm not sure why I don't need to set the name of
            my controller here as the third parameter. But I think if
            I just ommit the name of my controller the compiler will
            assume that it should use the current controller.
        *@
    </span>
</div>