@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
    //var firstReview = Model.First();
    //Layout = null;
}

@section featured{
    We are showing the latest @Model.Count() reviews    
}

<h2>The Latest Reviews</h2>
@*<h3>@firstReview.Name</h3>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>*@

@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>*@
            @*@Html.DisplayFor(modelItem => item.Rating)*@
            @*@item.Rating / 10*@ @*ie 10 / 10*@
            @*@(item.Rating / 10)*@ @*ie 1*@
            @*R@(item.Rating)*@ @*ie R10*@
            @*@@OdeToCode*@ @*ie @OdeToCode*@
        @*</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}*@

@*</table>*@

@foreach(var item in Model)
{
    @** The _Review partial is avaliable only for others views in the same folder *@
    @Html.Partial("_Review", item)
}
